.navbar {
    position: relative;
    z-index : 200;

    &-navigation {
        display: flex;

        &-left {
            @include navbarLeft($color-dark);
            left: -50vw;
            transition: .7s ease;

            .left-img {
                width   : 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color: $color-black, $alpha: 0.4);
                opacity: .7;
                border-radius: 10px;
            }

            .left-img-1 {
                top: 15%;
                left: 15%;
            }

            .left-img-2 {
                top: 35%;
                left: 25%;
            }

            .left-img-3 {
                top: 55%;
                left: 35%;
            }
        }

        &-right {
            @include navbarLeft(#1f1d1d);
            @include flexLayout;
            right: -50vw;
            transition: .7s ease;

            .nav-list {

                &-item {
                    list-style: none;
                }

                &-link {
                    @include textStyle;
                    font-size: 40px;
                    text-decoration: none;
                    color: $color-secondary;
                    font-family: $font-sahel;
                    display: block;
                    margin: 20px;
                    text-align: center;
                    transition: .5s ease;

                    &:hover {
                        color: $color-primary;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}
.header {
    width : 100%;
    height: 100vh;
    background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
        url(../Image/bg.jpg) center no-repeat;
    background-size: cover;

    .brand {
        @include position(15%);
        display    : flex;
        align-items: center;
    }

    &-banner {
        @include position(50%);
        text-align: center;
    }
}

.about-us {
    height     : 90vh;
    display    : flex;
    align-items: center;

    &-left {
        width: 40%;

        img {
            width  : 100%;
            opacity: .7;
        }
    }

    &-right {
        width         : 60%;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        padding       : 0 20px;

        .main-heading {
            font-size: 60px;
            margin   : 0;
        }

        .sub-heading {
            font-size    : 40px;
            margin-bottom: 20px;
        }
    }

    .stars {
        margin: 30px 0;

        .star {
            color : $color-primary;
            margin: 5px;
        }
    }

    .description {
        font-family: $font-nastaliq;
        color      : $color-secondary;
        text-align : center;
        font-size  : 20px;
        direction  : rtl;
    }
}

.gallery {
    .cards-wrapper {
        display  : flex;
        flex-wrap: wrap;
    }
}

.footer {
    @include flexLayout;
    flex-direction: column;
    padding       : 70px 0;

    &-header {
        display      : flex;
        align-items  : center;
        margin-bottom: 70px;
    }

    .social-media {
        display        : flex;
        width          : 300px;
        justify-content: space-between;
        margin-bottom  : 70px;

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size      : 50px;
            color          : $color-secondary;
            transition     : .3s ease;

            &:hover {
                color: $color-primary;
            }
        }
    }

    &-copyright-paragraph {
        font-family: $font-sahel;
        font-size  : 20px;
        color      : $color-secondary;
        direction  : rtl;
    }
}