@import "partial";

// Style
html {
    box-sizing: border-box;
    direction : rtl;
}

* {
    box-sizing: inherit;
    margin    : 0;
    padding   : 0;

    &::after,
    &::before {
        box-sizing: inherit;
    }
}

.navbar {
    @include space($spc-sm);
    background-color: $color-1;

    .nav-list {
        display        : flex;
        align-items    : center;
        justify-content: space-evenly;
        text-align     : center;
    }

    .nav-item {
        list-style: none;
        $font-big : 40px !global;
        font: {
            size: $font-big;
            weight: 500;
            family: 'Vazir';
        }
        margin    : $spc-sm $spc-xl;

    }

    .nav-link {
        @include toggle();
        text-decoration: none;
        color          : $color-9;

        &:hover,
        &:focus {
            border-bottom: 1px solid $color-9;
        }
    }
}

.banner {
    @include space($spc-xl);
    background-color: $color-3;

    .banner-head {
        @include heading($color-8, $font-size-xxl, $color-6);
    }

    .banner-text {
        @extend %text;
        width: $w-75;
        margin: 0 auto;
        font-size: doubleSize($font-size-sm);
    }
}

.footer {
    @include space($spc-lg);
    background-color: transparentize($color: $color-2, $amount: 0.3);


    .footer-head {
        @include heading($color-7, $font-size-xl, $color-5);
    }

    .footer-text {
        @extend %text;
        color: $color-4;
    }
}